
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


body{

    /* viewport-fit: 80%; */
    background:rgba(88, 141, 240, 0.295);
    color:rgb(19, 14, 14);
    font-size: large;
    position: center;
    font-style: bold;
    font-family: poppins,Arial, Helvetica, sans-serif;
}

h1{
    position: center;
    font-size: 100px;
    padding-left: 100px;
    margin-top: 240px;
}

aside {
padding-block: 0.2rem;
margin-left: 40%;
}

a{
    position:center;
    text-decoration: none;
    padding-right: 01.5rem;
    margin-right: 2rem;
}

